@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')

* {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration:none;
}

body {
    margin:0;
}

nav {
    margin:0;
    padding:0;
    position:sticky;
    top:0;
}

.nav-button {
    background-color: #377adb;
    color:white;
    border:0;
    outline:0;
    border-radius:2px;
}

.nav1 {
    text-align:right;
    background-color: #124080;
    padding-right:70px;
    padding-top:5px;
    padding-bottom:5px;
}

.nav2 {
    background-color:#071d3d;
    color:white;
    padding-left:50px;
    padding-right:50px;
    overflow:hidden;
}

.nav-learnus {
    float:left;
    padding-left:40px;
    line-height:100px;
    font-size:30px;
    margin:0;
    color:white;
}

.nav-list {
    float:right;
    list-style:none;
    margin:0;
    display:inline;
}

.nav-list li{
    float:left;
    padding-right: 30px;
    font-size:18px;
    line-height:100px;
    color:white;
    display:inline;
}

.lang {
    background-color: #071d3d;
    color:white;
    font-weight:bolder;
    border:0;
    outline:0;
    border-radius:2px;
    padding:7px;
}

.nav-button {
    font-weight:bolder;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}

.container {
    display:flex;
    flex-direction: row;
    background-color: #edf0f5;
    justify-content:center;
    margin:0;
    padding:30px;
    padding-bottom:50px;
}

.item {
    flex-basis:auto;
    width:500px;
    padding:30px;
    margin:0;
}

.info {
    float:left;
    font-size:24px;
}

.more {
    float:right;
    font-size:16px;
    color:darkgrey;
}

.info-wrap {
    overflow:hidden;
}

.list {
    float:left;
}

.notice {
    color:black;
}

.update {
    float:right;
    color:gray;
    list-style:none;
}

.date-box {
    border: 1px solid darkgray;
    width:60px;
    height:60px;
    border-radius:2px;
    text-align:center;
    float:left;
    padding:5px;
}

.date-wrap {
    overflow:hidden;
}

.month {
    font-size:26px;
    font-weight:bolder;
    color:#377adb
}

.year {
    font-size:14px;
    font-weight:bolder;
    color:darkgray
}

.event {
    color:black;
    float:left;
    border-left:10px;
    font-size:20px;
    font-weight:bold;
}

.li-wrap {
    overflow:hidden;
}

.search-bar {
    background-color: #f0cb54;;
    font-weight:bolder;
    border: 30px solid #f0cb54;
    border-radius:6px;
    position:absolute;
    left:5%;
    right:5%;
}

.search-text {
    color:#2b2b2b;
    font-size:26px;
    padding-left:50px;
    padding-right:50px;
    margin:0;
    float:left;
}

.search-input {
    width:500px;
    padding:15px;
    border:0;
    outline:0;
    border-radius:2px;
}

.search-button1 {
    background-color:#2b2b2b;
    color:white;
    border-radius:2px;
    font-size:16px;
    font-weight:bolder;
    width:100px;
    padding:10px;
    border:1px solid #2b2b2b;
}

.search-button2 {
    background-color:transparent;
    color:#2b2b2b;
    border-radius:2px;
    font-size:16px;
    font-weight:bolder;
    width:100px;
    padding:10px;
    border:1px solid #2b2b2b;
}

.mainbox {
    border:0 solid white;
    width:1200px;
    padding:0;
}

.hot {
    padding-left:200px;
    padding-top:100px;
    padding-bottom:0;
    margin-bottom:0;
}

.container2 {
    display:flex;
    flex-direction: row;
    justify-content:center;
    padding:0;
    margin: 50px;
    margin-top:0;
    color:black;
}

.lec {
    flex-basis:auto;
    border:1px solid darkgray;
    border-radius: 4px;
    padding:0;
    margin:10px;
    color:black;
}

.desc {
    font-size:12px;
    color:darkgray;
}

.title {
    font-weight:bolder;
}

.recruit {
    background-color: #edf0f5;
    padding:0;
    margin:0;
}

.recruit-on {
    font-weight:bold;
    font-size:14px;
}

.due {
    color:gray;
    font-size:14px;
    font-weight:bolder;
}

footer {
    background-color:black;
    color:white;
    border:50px solid black;
}

.footer-wrap {
    overflow:hidden;
}

.dropbox {
    text-align:right;
    float:right;
}

.footer-learnus {
    font-size:20px;
    float:left;
    line-height: 0;
}